# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*.pyzzzz
*.pywzzzz
*.venv
wazuh-ml/__pycache__/
wazuh-ml/tests/__pycache__/

# Data
wazuh-ml/data/

# Logs
wazuh-ml/logs/

# Env
wazuh-ml/.env

# .gitignore
wazuh-ml/.gitignore

# Jupyter Notebook
*.ipynb_checkpoints

# VSCode
.vscode/

#wazuh logging info
wazuh-logging-info

# script
wazuh-ml/scripts/

# llm
wazuh-ml/llm/